In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("students training data.csv")

#choosing the targert for the model
y = df["Average Score"]

In [2]:
df.describe()

,Unnamed: 0,Student ID,Grade Level,English,Afrikaans,Mathematics,Natural Sciences,Social Sciences,EMS,Technology,...,Physical Sciences,Accounting,Business Studies,Geography,History,Visual Arts,Information Technology,Average Score,Attendance Rate,Absenteeism Rate
count,257.000000,257.000000,257.000000,257.000000,257.000000,257.000000,257.000000,257.000000,257.000000,257.000000,...,257.000000,257.000000,257.000000,257.000000,257.000000,257.000000,257.000000,257.000000,257.000000,257.000000
mean,128.000000,1129.000000,10.536965,66.926070,25.097276,65.389105,66.548638,65.867704,65.836576,66.525292,...,8.642023,5.256809,6.688716,33.879377,33.657588,3.486381,1.529183,66.634241,71.587549,28.412451
std,74.333707,74.333707,1.110846,19.525184,34.697272,18.722593,19.192654,19.285833,19.168164,19.158884,...,23.204851,18.223981,22.297973,35.669121,35.615671,16.279565,9.706641,6.037519,13.330868,13.330868
min,0.000000,1001.000000,9.000000,35.000000,0.000000,35.000000,35.000000,35.000000,35.000000,34.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000,50.000000,1.000000
25%,64.000000,1065.000000,10.000000,49.000000,0.000000,48.000000,50.000000,49.000000,48.000000,50.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,63.000000,59.000000,17.000000
50%,128.000000,1129.000000,11.000000,67.000000,0.000000,65.000000,66.000000,63.000000,68.000000,66.000000,...,0.000000,0.000000,0.000000,36.000000,35.000000,0.000000,0.000000,66.000000,71.000000,29.000000
75%,192.000000,1193.000000,12.000000,84.000000,57.000000,82.000000,83.000000,83.000000,83.000000,85.000000,...,0.000000,0.000000,0.000000,65.000000,68.000000,0.000000,0.000000,71.000000,83.000000,41.000000
max,256.000000,1257.000000,12.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,96.000000,89.000000,97.000000,98.000000,99.000000,96.000000,88.000000,84.000000,99.000000,50.000000

In [3]:
r = []
for i in df.Resources:
    if i == "Good":
        r.append(1)
        
    else:
        r.append(0)

df.Resources = r


df = df.replace(0, np.nan)

In [4]:
#choosing features to train the model
features = df.drop(columns = ["Unnamed: 0",
                                   "Student ID", "Name",
                                   "Average Score"])
features = features.columns

X = df[features]

In [5]:
categorical_features = ['Grade Level']
numerical_features = X.columns.difference(categorical_features)

# One-hot encode categorical features
X_encoded = pd.get_dummies(X, columns=categorical_features, drop_first=True)

In [6]:
#import sklearn library and using the DecisionTree model

from sklearn.tree import DecisionTreeRegressor

student_model = DecisionTreeRegressor(random_state = 1)

student_model.fit(X, y)

student_model.predict(X)

array([65.45454545, 65.45454545, 76.08333333, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 76.08333333, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 76.08333333,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 78.        , 65.45454545,
       65.45454545, 78.        , 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 78.        , 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 78.        , 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 75.        , 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 81.        , 65.45454545, 65.45454545, 65.45454545,
       78.        , 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 76.        , 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 76.08333333, 65.45454545,
       65.45454545, 65.45454545, 78.        , 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 81.        ,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 77.        , 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 76.08333333, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 76.08333333,
       76.08333333, 76.08333333, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 76.08333333, 76.08333333, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 76.08333333, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 78.        ,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       78.        , 65.45454545, 65.45454545, 76.08333333, 65.45454545,
       78.        , 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545, 65.45454545, 65.45454545, 65.45454545,
       65.45454545, 65.45454545])

In [7]:
from sklearn.metrics import mean_absolute_error

mask = y != 0 

X = X[mask]
y = y[mask]
predicted_scores = student_model.predict(X)
mae = mean_absolute_error(y, predicted_scores)
print(f"Mean Absolute Error: {mae}")

Mean Absolute Error: 3.8381676689069684

In [8]:
from sklearn.model_selection import train_test_split

# Assume X and y are predefined
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

# Train a RandomForestRegressor
model = DecisionTreeRegressor()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate MAE
mae = mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error: {mae}")

Mean Absolute Error: 4.126849894291754

In [9]:
#training the model with RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer


imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

# Create and train the model
forest_model = RandomForestRegressor(n_estimators=100, random_state=42)
forest_model.fit(X_train_imputed, y_train)

# Make predictions
student_marks_pred = forest_model.predict(X_test_imputed)
forest_model = RandomForestRegressor(n_estimators=100, random_state=42)

forest_model.fit(X_train_imputed, y_train)

student_marks_pred = forest_model.predict(X_test_imputed)
print(mean_absolute_error(y_test, student_marks_pred))

3.085193798449613

In [10]:
#saving the dataset
import pickle

data = "Student_Performance_Model.sav"
pickle.dump(forest_model, open(data, "wb"))

load_model = pickle.load(open(data, "rb"))

In [11]:
student_marks_pred

array([64.61, 64.16, 67.11, 64.52, 67.69, 68.66, 65.  , 64.41, 68.15,
       68.75, 65.35, 63.72, 64.77, 67.87, 65.56, 65.42, 64.09, 64.24,
       67.92, 61.64, 62.56, 65.17, 64.43, 76.51, 67.3 , 60.84, 66.38,
       62.93, 63.95, 67.44, 76.22, 65.17, 61.99, 66.05, 67.8 , 67.04,
       64.91, 69.08, 67.57, 62.36, 67.6 , 65.97, 66.41, 61.32, 64.97,
       63.79, 67.37, 66.26, 67.48, 66.56, 65.83, 65.25, 69.2 , 76.45,
       77.22, 77.2 , 64.95, 76.53, 63.41, 68.19, 66.2 , 65.29, 64.38,
       76.97, 69.21, 64.34, 64.52, 61.17, 66.79, 66.53, 68.09, 76.09,
       58.36, 65.14, 57.8 , 66.26, 62.88, 64.99, 62.86, 66.46, 68.32,
       67.34, 76.53, 68.27, 67.35, 65.26, 67.11, 64.58, 63.74, 78.51,
       75.76, 59.34, 67.34, 60.14, 62.27, 63.11, 63.64, 62.52, 65.86,
       64.3 , 63.71, 61.02, 76.06, 66.68, 68.68, 67.4 , 66.92, 77.95,
       63.91, 76.56, 74.99, 63.56, 64.43, 77.01, 65.03, 61.81, 67.2 ,
       62.14, 62.34, 67.91, 66.17, 68.97, 67.61, 67.44, 62.07, 76.34,
       65.2 , 66.21, 65.11])

In [12]:
X = X_test.iloc[1:2, : ]
X

,Grade Level,English,Afrikaans,Mathematics,Natural Sciences,Social Sciences,EMS,Technology,Life Orientation,Creative Arts,...,Physical Sciences,Accounting,Business Studies,Geography,History,Visual Arts,Information Technology,Attendance Rate,Absenteeism Rate,Resources
186,11,53,NaN,61,61,41,97,80,97,46,...,NaN,NaN,NaN,70.0,42.0,NaN,NaN,82,18,1.0

In [ ]:
!streamlit run app2.py